<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rxandroidapp.com.etognfd.testface">

    <uses-permission android:name="android.permission.READ_SMS" />
    <!--白骑士start-->
    <!--必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--可选权限 GPS权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--可选权限 搜索附近蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--以下三个权限不需要采集，可以不加-->
    <!--获取联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--获取通话记录-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!--白骑士end-->

    <application
        android:name=".BaseAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadingActivity"></activity>
        <activity android:name=".BaiQiShiActivity"></activity>
        <activity android:name=".BaiQiShiInfoActivity"></activity>
        <activity android:name=".FaceIdActivity"></activity>
        <activity android:name=".ShujvMoHeActivity"></activity>
        <activity android:name=".RongActivity"></activity>

    </application>
</manifest>